@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Primary Palette */
    --color-primary: #5bf3a0;
    --color-primary50: #5bf39f1e;

    /* Grey Scale Palette */
    --gray-1: #F8F9FA;
    --gray-2: #a0a0a0;
    --gray-3: #44444479;
    --gray-4: #131313;
}

body,
#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    background-color: var(--gray-4);

    color: var(--gray-1);
}