:root {
    --background-color: #292929;

    //colors
    --primary-color: #30C7B5;

    --gray-00: #F3F6F3;
    --gray-01: #4F5655;
    --gray-02: #14261C;
    --gray-03: #000;

    --primary-font: 'VT323', monospace;
}

.dark-mode {
    --background-color: #292929;

    --primary-color: rgb(48, 199, 181);

    --gray-00: #000;
    --gray-01: #14261C;
    --gray-02: #4F5655;
    --gray-03: #F3F6F3;
    --gray-04: #fff;
}

body, #root {
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    border-left: 1px solid var(--gray-01);

    font-family: var(--primary-font);

    background-color: var(--gray-00);

    z-index: 0;
}

