:root {
    //colors
    --primary-color: #30C7B5;

    --gray-00: #F3F6F3;
    --gray-01: #c3c3c3;
    --gray-02: #404542;
    --gray-03: #1e1e1e;
    --gray-04: #000;


    //fonts
    --primary-font: 'VT323', monospace;
}

.light-mode {
    --primary-color: #30C7B5;
    
    --gray-00: #F3F6F3;
    --gray-01: #c71616;
    --gray-02: #404542;
    --gray-03: #1e1e1e;
    --gray-04: #000;
}

body, #root {
    width: 95%;
    
    border-left: 1px solid var(--gray-04);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;


    font-family: var(--primary-font);

    background-color: var(--gray-03);
}

