.header__container{
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo__container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        margin-left: 3.5rem;

        .logo__title{
            font-size: 1.5rem;
        }
        .logo__caption{
            font-size: 1.5rem;

            color: var(--primary-color);
        }
    }
    .nav__list{
        display: flex;
        gap: 1.5rem;

        margin-right: 2rem;
        
        font-size: 1.5rem;


        .list__item:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}