.about__container {
  text-align: center;

  width: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--gray-04);
  border-left: none;
  border-bottom: none;

  .about__big {
    width: 85%;

    border-bottom: 1px solid var(--gray-04);

    padding: 1rem;

    font-size: 1.5rem;
  }

  .about__small {
    width: 80%;

    padding: 1rem 2rem;

    font-size: 1rem;
    color: var(--gray-01);
  }
}

.section__bttn {
  border: none;
  border-radius: 2px;

  background-color: var(--primary-color);

  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--gray-01);

  padding: 20px 40px;

  &:hover {
    color: var(--primary-color);
    background-color: var(--gray-01);
  }
}
