

    .about__container{
        text-align: justify;

        width: 100%;

        display: flex;

        border-top: 1px solid black;

        .about__big{
            width: 50%;

            border-right: 1px solid black;

            padding: 1rem 2rem;

            font-size: 2.5rem;
        }

        .about__small{
            width: 50%;

            padding: 1rem 2rem;

            font-size: 1.5rem;
            color: var(--gray-01);
        }

    }

    .section__bttn{
        border: none;
        border-radius: 2px;

        background-color: var(--primary-color);

        font-family: var(--primary-font);
        font-size: 1.5rem;
        color: var(--gray-01);

        padding: 20px 40px;

        &:hover{
            color: var(--primary-color);
            background-color: var(--gray-01);
        }
    }
